# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ProjetoBase.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Projetos em UNITY\Udemy\WilliamNascimento\Jogos 2D com Unity + C# CURSO COMPLETO - Udemy\ProjetoBase\.idea\.idea.ProjetoBase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
